/* fyrir 320*/
img {
    width: 100%;
  }
  .info .image {
    width: 100%;
  }
  section.info {
    display: block;
  }
  
  .info .content {
    width: 100%;
  }
  .cards {
    display: block;
    max-width: 100%;
  }
  
  section.card {
    max-width: 100%;
  }
  main#lorem-ipsum {
    display: block;
    padding: 20px;
  }
  .card > .content {
    margin-bottom: 10px;
  }
  /* 320 */

  /* 800 */
@media (min-width: 600px) {
    section.info {
      display: flex;
    }
    section.info .info,
    section.info .content {
      max-width: 50%;
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  /* 800 */
  /* 1400 */
  @media (min-width: 1000px) {
    main#lorem-ipsum {
      padding: 0;
    }
    section.card {
      margin-left: 2px;
    }
  }
  /* 1400 */