/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
  margin: 0;
  padding: 0;
}

/*
Reiknum stærð á öllum boxum sem border-box.
Þessu má breyta eða fjarlægja.
*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

.mynd {
  display: flex;
  
}

.mynd2 {
  flex-direction: column;
}

.inn {
  padding: 0rem 1rem;
}

.bækur a {
  color: #000000;}


.teksti {
  color: #000000;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.teksti a {
  color: #000000;
}

header {
  background-color: #00bfff;
}

.tengill {
  color: #000000;
  flex-direction: column;
}

p, header h1 {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  text-decoration: none;
  
}


.nav-item {
    color: #000000;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding-bottom: 50%;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    
 
  }

nav ul li {
  list-style: none;
  display: inline-block;
  text-align: center;
}

.konnun1{
  flex-direction: column;

  
}
  .content h2{

  }

footer {
  background-color: #00bfff;
  padding: 1rem;
  margin-top: 20.6rem;}
footer p {
  max-width: 1200px;
}

table {
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #afebff;
}

fieldset {
  border: 0.09rem solid #00bfff;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

/* Uppsetning á síðu—layout */
.content {
  /* Lætur börn .content raða sér með _flexbox_ */
  display: flex;
  /* röðun sé í dálkaröð (niður) */
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  
  
}

.content > header {

}

.content > nav {

  margin-bottom: 1rem;
  
}

.content > main {
  /* Lætur <main> taka allt auka pláss sem er í boði */
  flex: 1;
}

.content > footer {
}

/* almennar skilgreiningar */

h1, h2 {
  /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
}

a {
  /* TODO setja almennar skilgreinar fyrir tengla */
}

/* nav — valmynd */

nav ul {
  /* TODO */
}

nav ul li {
  /* TODO */
}

/* TODO */


/* main — meginmál */

/* TODO */

/* töflur */

table {
  border-spacing: 0;
}

/* TODO */

/* form */

/* TODO */