/*
Setjum inn „reset“ sem fjarlægir margin og padding af öllu
Þessu má ekki breyta
*/
* {
    margin: 0;
    padding: 0;
  }
  
  /*
  Reiknum stærð á öllum boxum sem border-box.
  Þessu má breyta eða fjarlægja.
  */
  html {
    box-sizing: border-box;
    font-size: 16px;
    max-width: 1200px;
    margin: auto;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .wrapper{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  
  .Forrit {
    font-size: 2rem;
    background-color: #00bfff;
    width: 100%;
    min-height: 80px;
    padding: 3px 100px;
    line-height: 80px;
  }
  
  h2 {
    padding: 3px 100px;
  }
  
  .nav-item {
    color: #000000;
    text-decoration: none;
    width: 100%;
    min-height: 80px;
    padding: 3px 100px;
    line-height: 80px;
    font-size: 1.8rem;
    text-align: left;
  }
  
  .mynd {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
  
  
  
  /* hjálpar class sem felur sjónrænt en skjálesarar lesa */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  
  /* Uppsetning á síðu—layout */
  .content {
    /* Lætur börn .content raða sér með _flexbox_ */
    display: flex;
    /* röðun sé í dálkaröð (niður) */
    flex-direction: column;
  }
  
  .content > header {
  }
  
  .content > nav {
  }
  
  .content > main {
    /* Lætur <main> taka allt auka pláss sem er í boði */
    flex: 1;
  }
  
  .content > footer {
  }
  
  /* almennar skilgreiningar */
  
  h1, h2 {
    /* TODO setja almennar skilgreinar fyrir fyrirsagnir */
  }
  
  a {
    /* TODO setja almennar skilgreinar fyrir tengla */
  }
  
  /* nav — valmynd */
  
  nav ul {
    /* TODO */
  }
  
  nav ul li {
    /* TODO */
  }
  
  /* TODO */
  
  
  /* main — meginmál */
  
  /* TODO */
  
  /* töflur */
  
  table {
    border-spacing: 0;
  }
  
  /* TODO */
  
  /* form */
  
  /* TODO */