/*Base*/
* {
    margin: 0;
    padding: 0;
  }
  
  /* Reiknum stærð á öllum boxum sem border-box */
  html {
    box-sizing: border-box;
  
    /* Lætur skroll innan síðu taka tíma */
    scroll-behavior: smooth;
  }
  
  /* og látum erfast á allt */
  *, *:before, *:after {
    box-sizing: inherit;
  }
  